<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de conteúdo</title>
    <style>
        tr,td,th{
            border: 2px inset black;
            border-collapse: collapse;
            padding: 2px;
        }
    </style>
</head>
<body>
    <h1>Gerenciador de Conteúdo</h1>
    <a href="http://localhost/crud/?pagina=adimin&metodo=create">Criar Publicação</a><br><br>
    <hr><br>
    <table>
        <tr>
            <th>ID</th>
            <th>TÍTULO</th>
            <th>ALTERAÇÃO</th>
            <th>DELEÇÃO</th>
        </tr>
        <tr>
            <td>ID</td>
            <td>TÍTULO</td>
            <td>ALTERAÇÃO</td>
            <td>DELEÇÃO</td>
        </tr>
    </table>
</body>
</html>