<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <main>
        <section class="form">
            <form action="http://localhost/crud/?pagina=adimin&metodo=insert" method="post">
                <span>Título: </span><br>
                <input type="text" name="titulo" id="titulo"><br>
                <span>Conteúdo: </span><br>
                <textarea name="conteudo" id="conteudo" cols="25" rows="5"></textarea><br>
                <input type="submit" value="Cadastrar">
            </form>
        </section>
    </main>
</body>
</html>