<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Página de postágens</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

	<div class="corpo">
		
		<div class="topo">

			<nav>
				<a href="http://localhost/crud/">Home</a>
				|
				<a href="http://localhost/crud/?pagina=sobre">Sobre</a>
			</nav>

		</div>

		<div class="conteudo">

				{{area_dinamica}}

		</div>

	</div>

</body>
</html>

